/* font family */
.open-sans-ragular {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* layout */
body {
  margin: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}
