/* 컴포넌트 layout */
.component-wrapper {
  margin: 1.875rem;
}

/* ui layout */
.join-wrapper {
  padding: 1.875rem;

  .join-form {
    position: relative;
    padding-inline: var(--spacing-lg);
    padding-block-start: var(--spacing-lg);
    padding-block-end: var(--spacing-3xl);
    border-radius: var(--radius-lg);
    border: 1px solid var(--gray-400);
  }

  .join-list {
    li {
      &::after {
        content: '';
        display: block;
        margin-block-start: var(--spacing-md);
        padding-block-end: var(--spacing-md);
        border-top: 1px solid #d9d9de;
      }
    }
  }

  .button {
    position: absolute;
    left: auto;
    right: auto;
    bottom: -22px;
    inline-size: calc(100% - 3rem);
  }
}
